<div class="well">
  <p class="text-muted">Comentado por <strong><%= comment.user.full_name %></strong> el
    <%= l(comment.created_at, format: '%d %B %Y,  %H:%M:%S') %></p>
 
  <blockquote>
    <span id="note<%=comment.id%>" data-name="body" data-toggle="#pencil<%=comment.id%>" data-original-title="Edite comentario" data-type="textarea" data-url="<%= category_post_comment_path(@category, @post, comment)%>">
        <p><%= textarea_format(comment.body) %></p>
      </span>
      <a href="#" id="pencil<%=comment.id%>" style="float: right"><i class="glyphicon glyphicon-pencil"></i></a>
                                        
  </blockquote>
  
  <div id="reply<%=comment.id%>">
  </div>

  <% from_reply_form ||= nil %>
    <% unless from_reply_form %>
      <% if comment.leaf? %>
        <small class="text-muted">Aun no tiene respuesta - Sé el primero en contestar!</small>
      <% end %>
      
      <% if current_user && current_user.is_owner?(@post.user) %>
        <p id="link_reply<%=comment.id%>">
      	  <%= link_to 'Responder', category_post_new_comment_path(@category, @post, comment.id), class: 'pull-right', remote: true  %> </br></br>
        </p>
      <% end %>  
  <% end %>
</div> 

<script>
        $("#note<%=comment.id%>").editable(); 
          $("#pencil<%=comment.id%>").click(function(e) {
            e.stopPropagation();
            e.preventDefault();
            $("#note<%=comment.id%>").editable('toggle');
          });   
      </script> 