</br></br>
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Registrarme</h2>
        <hr class="star-primary">
      </div>  
    </div>
    
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, role: 'form' } ) do |f| %>
          <%= f.error_notification %>
          
          <%= f.input :reset_password_token, as: :hidden %>
          <%= f.full_error :reset_password_token %>

          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">    
              <%= f.input :password, autofocus: true, input_html: { class: 'form-control' }, required: true, placeholder: "Nueva Clave" %>
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">    
              <%= f.input :password_confirmation, autofocus: true, input_html: { class: 'form-control' }, required: true, placeholder: "Confirme Nueva Clave" %>
              <p class="help-block text-danger"></p>
            </div>
          </div>

          <div class="col-lg-18 text-center">
            </br>
            <%= f.button :submit, "Cambiar Clave", class: 'btn btn-block btn-success' %>
          </div>

        <% end %> 

        <div class="form-group col-xs-12 floating-label-form-group controls">
          </br>
          <div class="text-center"> <p> Ó </p> </div>
        </div> 

        <%= render "devise/shared/links" %>    
      </div>  
      
    </div>  

    
  </div>  
</section>  