<div class="panel panel-info">
   <div class="panel-heading">
     <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">
          Buscador
        </a>
     </h4>
    </div>

    <div id="collapse1" class="panel-collapse collapse in">
     <%= simple_form_for @post_search, url: category_posts_path(@category), html: { role: 'form', method: :get, class: 'form-inline' } do |f| %>
       <%= hidden_field_tag :status, params[:status] %>
       <div class="panel-body">
         <div class="input-group">
           <div class="input-group-btn search-panel">
	      <%= f.input :pet, collection: @post_form_presenter.pets, include_blank: 'todos', input_html: { class: 'btn btn-default dropdown-toggle'}, required: false, label_html: { class: 'sr-only' }, :multiple => true, :selected => ['1'] %>
             
           </div>
           <%= f.input :look_for, placeholder: 'Buscar...', input_html: { class: 'form-control' }, label_html: { class: 'sr-only' } %>
            <span class="input-group-btn">
              <%= button_tag class: 'btn btn-default', name: nil do %>
                <span class="glyphicon glyphicon-search"></span>
              <% end %>

              <%= link_to category_posts_path(@category, status: params[:status]), class: 'btn btn-default' do %>
                <span class="glyphicon glyphicon-trash"></span> 
              <% end %>
  
            </span>
         </div>           
               
            
       </div>
       <div class="panel-footer">
          
       </div>
     <% end %>
  </div>
</div>





 