
<div class="row">
  <div class="col-sm-4 portfolio-item">
    <div class="cuadro_intro_hover" style="background-color:#cccccc;">
      <p style="text-align:center;">
        <%= image_tag("adopcion.jpg", class: "img-responsive") %>
      </p>
      <div class="caption">
        <div class="blur"></div>
        <div class="caption-text">
          <h3 style="border-top:1px solid white; border-bottom:2px solid white; padding:10px;">
            Queres Adoptar?
          </h3>
          <p><hr class="star-primary"> <%= Post.for_adoption.count %> adopciones publicadas</p>
            <%= link_to category_posts_path(@category, status: 'en_adopcion'), class: "btn btn-success btn-lg" do %>
              
              <span class="glyphicon glyphicon-search"> Ir
              </span>
            <% end %>
        </div>
      </div>
    </div>

  </div>

  <div class="col-sm-4 portfolio-item">
    <div class="cuadro_intro_hover" style="background-color:#cccccc;">
      <p style="text-align:center;">
        <%= image_tag("dar_adopcion.jpg", class: "img-responsive") %>
      </p>
      <div class="caption">
        <div class="blur"></div>
        <div class="caption-text">
          <h3 style="border-top:1px solid white; border-bottom:2px solid white; padding:10px;">
            Queres Publicar una Adopcion?
          </h3>
            <%= link_to new_category_post_path(@category), class: "btn btn-success btn-lg" do %>
              <span class="glyphicon glyphicon-hand-right"> Ir
              </span>
            <%end%>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4 portfolio-item">
    <div class="cuadro_intro_hover" style="background-color:#cccccc;">
      <p style="text-align:center;">
        <%= image_tag("preview.jpg", class: "img-responsive") %>
      </p>
      <div class="caption">
        <div class="blur"></div>
        <div class="caption-text">
          <h3 style="border-top:1px solid white; border-bottom:2px solid white; padding:10px;">
            Adoptados!!!
          </h3>
          <p><hr class="star-primary"> <%= Post.already_adopted.count %> Adoptados</p>
            <%= link_to category_posts_path(@category, status: 'adoptado'), class: "btn btn-success btn-lg" do %>
              <span class="glyphicon glyphicon-search"> Ir
              </span>
            <% end %>
        </div>
      </div>
    </div>
        
  </div>

  

</div>  
