<div class="text-center">
<% @posts.each_with_index do |post, index|%>
    <% if index%2 == 0 %> <div class='row'> <div class="col-lg-3 col-lg-offset-3"> <% end %>
    <% if index%2 != 0 %>  <div class="col-lg-3"> <% end %>
      <div class="content-post">
        <div class="title">
          <h4 class="text-default">
            <span><%= post.title %>  <%= (image_tag @category.image_icon, class: 'icon-list pull-right') if !@category.image_icon.nil? %></span>
          </h4>
          
        </div>  
        <div class="shrink">
          <%= link_to image_tag(post.image, size: '120', class: 'img-circle'), 
            category_post_path(@category, post), class: "pull-right text-success"%>
            <p>
              <%= truncate(strip_tags(post.body), length: 80) %>
              <%= link_to category_post_path(@category, post), class: "text-primary small" do%>
                Ver más
               
              <% end %>
            </p>
        </div>
      </div>
  
      </div>  
    <% if index%2 != 0 %> </br></div> <% end %>
<% end %>
</div>