<section class ="success col-md-20" id="categories">
  <div class="content">
    <div class="row">
      <div class="">
        <h2>Listado de <%=@category.name%></h2>
        <hr class="star-primary">
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-3"></div>
      <div class="col-md-6 panel-group">
        <%= render("/categories/#{@category.name_as_folder}/filters") %>
      </div>
      <div class="col-md-3"></div>

    </div>  
    
    <div id="my-posts">
      <div class="col-md-3"></div> 

      <div class="col-md-6 text-center" id="more-post">
	<%= render "posts/posts" %>
      </div>

      <div class="row col-sm-9" >
        </br></br></br></br>
        <div id="infinite-scrolling" class="text-center" >
          <%= will_paginate %>
        </div>
      </div>

    </div>
    <div class="col-md-3"></div> 
  </div>  

  <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
  <%= render('nav/footer') %> 
</nav>  
</section>  
