<section id="categories">
  <div class="content"> 
    <div id="my-posts"></br>
      <div class="row">
        <div class="col-md-12 text-center">  
          <div class="col-lg-12 text-center">
            <h2>Listado de <%=@category.name%></h2>
            <hr class="star-primary">
          </div>
          
          <%= render("/categories/#{@category.name_as_folder}/filters") %>
          <section class="success" id="index">  
            <%= render "posts/posts" %>
            <div id="infinite-scrolling" class="text-center">
              <%= will_paginate %>
            </div>
          </section>  
        
        </div>  
      </div>  
    </div>  
  </div>  
</section>  
<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
  <%= render('nav/footer') %>  
</nav>  
